.appbar {
  width: 100%;
  padding-inline: 3em;
  padding-block: 0.7em;
  position: fixed;
  top: 0;
  z-index: 3000;
  background-color: white;
}

.appbar-logo {
  @extend .display-font;
  @extend .big;
  text-decoration: none;
  color: $primary-color;
  margin: 0.5em;
}

.appbar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: $breakpoint-mb) {
    justify-content: space-between;
  }
}

.appbar-cart {
  @extend .fab-small;
  @media screen and (max-width: $breakpoint-mb) {
    display: none;
    pointer-events: none;
  }
}
