.auth-form {
  border: 0.1em solid $border-colored;
  border-radius: 0.5em;
  display: block;
  width: 100%;
  padding: 0.6em;
}

.auth-form-row {
  display: block;
  width: 100%;
  padding: 0.5em;
  position: relative;
}

.auth-form-input {
  border: 0.2em solid $border-simple;
  border-radius: 0.6em;
  padding: 0.7em;
  width: 100%;
  display: block;
  transition: 0.3s all;
  &:focus {
    border: 0.2em solid $border-colored;
  }
  &:active {
    border: 0.2em solid $border-colored;
  }
}

.auth-form-label {
  display: block;
  color: grey;
  font-size: 0.7em;
  font-family: $alt-font;
  margin-left: 0.6em;
  background-color: rgba(255, 255, 255, 0.913);
  border-radius: 0.7em;
  position: absolute;
  top: -0.2em;
}

.auth-form-footer {
  display: flex;
  padding: 1em;
  justify-content: center;
}

.auth-form-action {
  border: 0.1em solid $border-colored;
  border-radius: 0.5em;
  text-transform: uppercase;
  background-color: $primary-color;
  color: white;
  padding-block: 0.6em;
  width: 25%;
  padding-inline: 1em;
}

.auth-form-header {
  color: $primary-color;
  font-size: 2em;
  padding: 0.5em;
  text-decoration: underline;
}
