.dropdown {
  position: relative;
  display: flex;
  @media screen and (max-width: $breakpoint-mb) {
    display: none;
    pointer-events: none;
  }
}

.dropdown-icon {
  @extend .fab-small;
  margin-inline: 0.4em;
  padding: 0.1em;
}
.dropdown-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $alt-bg;
  padding: 0.7em;
}

.dropdown-item {
  width: 100%;
  padding: 0.5em;
  font-size: 0.8em;
  text-align: left;
  text-transform: capitalize;
  &:hover {
    background-color: $border-simple;
  }
}

.dropdown-footer {
  border-top: 0.1em solid $border-simple;
  background-color: whitesmoke;
  width: 100%;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  .options {
    display: flex;
    align-items: center;
    float: right;
  }
}

.dropdown-container {
  position: absolute;
  top: 3em;
  right: 0;
  width: 25vw;
  border: 0.1em solid $border-simple;
  border-radius: 0.7em;
  display: flex;
  flex-direction: column;
}

.dropdown-header {
  border-bottom: 0.1em solid $border-simple;
  background-color: $alt-bg;
  padding: 0.6em;
}
