.footer {
  width: 100%;
  @media screen and (max-width: $breakpoint-mb) {
    display: none;
    pointer-events: none;
  }
}

.footer-grid {
  display: grid;
  grid-template-columns: 40% auto auto auto;
  gap: 0 2em;
}

.footer-socials {
  display: block;
  grid-column: 1 2;
}
.footer-links {
  width: 100%;
}
