.order-item {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.order-item-date {
  width: 30%;
}

.order-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5em;
  width: 70%;
  border: 0.1em solid $border-colored;
  border-radius: 0.5em;
  .cartitem {
    margin: 0.2em;
  }
}

.order-item-footer {
  display: block;
  justify-self: flex-end;
  h3 {
    display: block;
    float: left;
  }
}
