.product-card {
  width: 14vw;
  border: 0.1em solid $border-simple;
  margin: 0.5em;
  display: block;
  transition: 0.2s all;
  @media (max-width: 800px) {
    width: 35vw;
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0.1em 0.2em 0.4em 0.1em $border-simple;
  }
}

.product-card-img {
  display: block;
  width: 100%;
  img {
    width: 100%;
  }
}

.product-card-info {
  width: 100%;

  display: block;
  padding: 1em;
}
