.address {
  width: 100%;
}

.address-form {
  width: 100%;
  display: block;
  padding: 1.5em;
  border: 0.1em solid $border-simple;
  box-shadow: 0.1em 0.2em 0.5em 0.1em $border-simple-2;
  border-radius: 1em;
}

.address-flex {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.address-row {
  align-items: center;
  width: 100%;
  padding: 0.5em;
  position: relative;
}

.address-input {
  display: block;
  width: 100%;
  border: 0.1em solid $border-simple-2;
  border-radius: 0.3em;
  padding: 0.4em;
  transition: 0.3s all;
  &:focus {
    border: 0.1em solid $border-colored;
  }
}

.address-label {
  display: block;
  font-size: 0.8em;
  padding-left: 1em;
  color: $primary-color;
}

.address-header {
  padding: 1em;
}

.address-title {
  color: $primary-color;
}

.address-footer {
  display: block;
  width: 100%;
  padding: 1em;
}

.address-submit {
  float: right;
  border: 0.1em solid $border-colored;
  border-radius: 0.5em;
  text-transform: uppercase;
  background-color: $primary-color;
  color: white;
  padding-block: 0.6em;
  width: 25%;
  padding-inline: 1em;
}

.address-default {
  display: flex;
  * {
    display: inline-block;
  }
  align-items: center;
  p {
    font-size: 0.7em;
    color: grey;
  }
}

.error-input {
  color: rgb(254, 58, 58);
  padding: 0;
  font-size: 0.7em;
  font-family: $alt-font;
  position: absolute;
  bottom: 0;
  left: 0.3em;
}
