.userinfo {
  width: 100%;
}

.userinfo-form {
  width: 100%;
  display: block;
  padding: 1.5em;
  border: 0.1em solid $border-colored;
  border-radius: 0.5em;
}

.userinfo-flex {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.userinfo-row {
  align-items: center;
  width: 100%;
  padding: 0.5em;
}

.userinfo-input {
  display: block;
  width: 100%;
  border: 0.1em solid $border-simple-2;
  border-radius: 1em;
  padding: 0.4em;
  transition: 0.3s all;
  &:focus {
    border: 0.1em solid $border-colored;
  }
}

.userinfo-label {
  display: block;
  font-size: 0.7em;
  padding-left: 1em;
  color: $primary-color;
}

.userinfo-header {
  padding: 1em;
}

.userinfo-title {
  color: $primary-color;
}

.userinfo-footer {
  display: block;
  width: 100%;
  padding: 1em;
}

.userinfo-submit {
  float: right;
  border: 0.1em solid $border-colored;
  border-radius: 0.5em;
  text-transform: uppercase;
  background-color: $primary-color;
  color: white;
  padding: 0.6em;
}
