@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import 'react-responsive-carousel/lib/styles/carousel.min.css'; // requires a loader

$dfl-font: 'Ubuntu', sans-serif;
$alt-font: 'Baloo Bhaijaan 2', cursive;
$display-font: 'Berkshire Swash', cursive;

$primary-color: rgb(53, 137, 5);
$border-colored: rgba(53, 137, 5, 0.363);
$border-simple: rgba(121, 121, 121, 0.105);
$border-simple-2: rgba(121, 121, 121, 0.377);

$alt-color: rgb(255, 206, 239);

$alt-bg: rgb(255, 247, 249);

$secondary-color: rgba(0, 0, 0, 0.877);

$breakpoint-mb: 800px;
